# Essence of Machine Learning: Replication of Chapter 2

## 02-08: Object-orientation

In [1]:
# import module
import datetime

In [2]:
d = datetime.date(year=2022, month=5, day=18) # create instances (class: "date")
d.year # year is property of the class "date"

2022

In [3]:
# Today is Wednesday, so 2 will be displayed (Monday 0, Sunday 6)
d.weekday()

2

In [4]:
d.weekday

In [5]:
type(d)

datetime.date

In [6]:
type(d.year)

int

In [7]:
type(d.weekday())

int

In [8]:
type(datetime.date.weekday)

method_descriptor

In [44]:
# class definition
class Person: # define class
    def __init__(self, first_name = "Taro", last_name = "Yamada"): # constructer (initialization method)
        self.first_name = first_name # create attribute (property)
        self.last_name = last_name

In [46]:
person1 = Person("John", "Smith") # create instance
print(person1.first_name, person1.last_name)
print(person1)

John Smith
<__main__.Person object at 0x10dbb10d0>

In [47]:
# using default 
person2 = Person()
print(person2.first_name, person2.last_name)

Taro Yamada

In [48]:
# here, some deviation
class Person2:
    def __init__(self):
        self.first_name = "Taro"
        self.last_name = "Yamada"

    def get_name(self):
        return self.first_name + " " + self.last_name

    def set_name(self, first_name="Taro", last_name="Yamada"):
        self.first_name = first_name
        self.last_name = last_name

    def del_name(self):
        del self.first_name
        del self.last_name

    name = property(get_name, set_name, del_name)

person_2 = Person2()
print(person_2.name)

Taro Yamada

In [49]:
person_2.name

'Taro Yamada'

In [50]:
person_2.first_name = "John"
person_2.last_name = "Smith"
print(person_2.name)

John Smith

In [51]:
person_2.del_name()
print(person_2.name)

AttributeError: 'Person2' object has no attribute 'first_name'

In [52]:
person2.first_name = "John"
person2.last_name = "Smith"
print(person2.first_name, person2.last_name)

John Smith

In [53]:
# deviation
foo = Person2
print(foo.__init__)

<function Person2.__init__ at 0x10db6bc10>

In [54]:
# deviation
def f(a=1, b=2):
    return a + b
print(f())
print(f(2, 4))

3
6

In [55]:
 class Person:
    def __init__(self, first_name="", last_name=""):
        self.first_name = first_name
        self.last_name = last_name
    def get_name(self):
        return self.first_name + " " + self.last_name
    def __str__(self):
        return self.first_name + "," + self.last_name

person1 = Person("John", "Smith")
print(person1.get_name())
print(person1)

John Smith
John,Smith

In [92]:
class Foo:
    def __new__(cls):
        print('__new__')
        self = super().__new__(cls)  # インスタンス生成を行う典型的なコード
        self.attr = 'set in __new__'  # ここでしかできない初期化処理を書いてもよい
        return self  # 生成したインスタンスを返す

    def __init__(self, name='foo'):
        print('__init__')
        self.name = name  # インスタンスの初期化処理

    def __del__(self):
        #super().__del__()  # 基底クラスに__del__メソッドがあれば必ず呼び出す
        print('__del__')  # インスタンスが破壊されるときに行う処理

In [93]:
foo = Foo()  # '__new__'と'__init__'が表示される

__new__
__init__

In [94]:
print('foo.attr:', foo.attr)  # 'foo.attr: set in __new__'

foo.attr: set in __new__

In [95]:
bar = foo

In [96]:
print('bar.name:', bar.name)  # 'bar.name: foo'

bar.name: foo

In [97]:
print('del foo')  # この時点ではまだ生成したインスタンスには別名がある
del foo

del foo

In [98]:
foo2 = bar

In [99]:
del bar  # '__del__'：この時点でインスタンスを束縛する名前がなくなる

In [102]:
foo3 = Foo()

__new__
__init__

## 02-06: list, dictionary, set

In [103]:
a = [1, 2, 3, 4]

In [104]:
a[1]

2

In [105]:
a[2] = 99
a

[1, 2, 99, 4]

In [106]:
b = [1, "x", 3.4]

In [107]:
b[1]

'x'

In [109]:
b[2]

3.4

In [110]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [111]:
a[2:4]

[3, 4]

In [113]:
a[3:]

[4, 5]

In [114]:
a[:-1]

[1, 2, 3, 4]

In [116]:
a[:-2]

[1, 2, 3]

In [115]:
a[-1:]

[5]

In [117]:
a[-2:]

[4, 5]

In [118]:
a[2:]

[3, 4, 5]

In [122]:
l = [1, 2, 3]
l

[1, 2, 3]

In [123]:
l.append(4)
l

[1, 2, 3, 4]

In [124]:
l.insert(1, 100)
l

[1, 100, 2, 3, 4]

In [125]:
a = [1, 2, 3]
b = []

In [126]:
print(a)
print(b)

[1, 2, 3]
[]

In [127]:
b.append(4)
b

[4]

In [128]:
b.append(5)

In [129]:
a.extend(b)

In [130]:
a

[1, 2, 3, 4, 5]

In [131]:
a = [1, 2, 3]
a + b

[1, 2, 3, 4, 5]

In [152]:
l = [1, 2, 3]
m = l
l

[1, 2, 3]

In [136]:
m.append(4)
m

[1, 2, 3, 4]

In [137]:
l

[1, 2, 3, 4]

In [138]:
l = [1, 2, 3]
m = l[:]

In [139]:
l

[1, 2, 3]

In [140]:
m

[1, 2, 3]

In [141]:
m.append(4)
m

[1, 2, 3, 4]

In [142]:
l

[1, 2, 3]

In [143]:
l = [[], [], []]
l

[[], [], []]

In [144]:
l[1].append(1)
l[2].append(2)
l[2].append(3)
l

[[], [1], [2, 3]]

In [155]:
l = [i**2 for i in range(5)]
l

[0, 1, 4, 9, 16]

In [156]:
m

[1, 2, 3, 4]

In [153]:
m.append(4)

In [159]:
m = [[i*10 + j for i in range(5)] for j in range(5)]
m

[[0, 10, 20, 30, 40],
 [1, 11, 21, 31, 41],
 [2, 12, 22, 32, 42],
 [3, 13, 23, 33, 43],
 [4, 14, 24, 34, 44]]

In [160]:
t = 1, "a", 1.5

In [161]:
t

(1, 'a', 1.5)

In [162]:
u = t, (1, 2, 3)

In [163]:
u

((1, 'a', 1.5), (1, 2, 3))

In [164]:
s = u, (4, 5)

In [165]:
s

(((1, 'a', 1.5), (1, 2, 3)), (4, 5))

In [166]:
s = (s, (5, 6))
s

((((1, 'a', 1.5), (1, 2, 3)), (4, 5)), (5, 6))

In [167]:
t[1]

'a'

In [168]:
t[1] = 2

TypeError: 'tuple' object does not support item assignment

In [170]:
for i in range(5):
    print(i)

0
1
2
3
4

In [171]:
l = [2, 4, 5]
for i in l:
    print(i)

2
4
5

In [174]:
m = [2*l[i] for i in range(len(l))]
m

[4, 8, 10]

In [175]:
m = [x*2 for x in l]
m

[4, 8, 10]

In [176]:
s = "abcd"
for i in s:
    print(i)

a
b
c
d

In [177]:
["*" + x + "*" for x in s]

['*a*', '*b*', '*c*', '*d*']

In [178]:
list(s)

['a', 'b', 'c', 'd']

In [179]:
s

'abcd'

In [180]:
d = {"a":1, "b":2, "c":3}
d

{'a': 1, 'b': 2, 'c': 3}

In [182]:
d["a"]

1

In [183]:
"c" in d

True

In [184]:
"d" in d

False

In [185]:
1 in d

False

In [186]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [187]:
print(d.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [188]:
d = {}
d["x"] = 1
d["y"] = 2
d["z"] = 3

In [189]:
d

{'x': 1, 'y': 2, 'z': 3}

In [190]:
for k in d:
    print(k)

x
y
z

In [191]:
for x in d.items():
    print(x)

('x', 1)
('y', 2)
('z', 3)

In [192]:
a = set()
a

set()

In [193]:
a.add(1)
a.add(2)
a.add(3)
a

{1, 2, 3}

In [194]:
2 in a

True

In [195]:
1 == 1

True

In [196]:
1 == 3

False

In [197]:
5 in a

False

In [198]:
2 in a

True

In [199]:
b = {2, 3, 4}

In [200]:
b

{2, 3, 4}

In [201]:
a & b

{2, 3}

In [202]:
a | b

{1, 2, 3, 4}

In [203]:
a - b

{1}

In [204]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [206]:
for x in a | b:
    print(x)

1
2
3
4

## 02-09: Module

In [1]:
import mod1

mod1 is imported

In [2]:
print(mod1.Hello())

Hello!